<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Interactivity with Brython</title>
        <script src="https://cdn.tailwindcss.com"></script>

        <!-- Include the Brython library -->
        <script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js"></script>

    </head>

    <body class="h-screen w-screen flex flex-col items-center justify-center" onload="brython();">
        <div class="flex flex-col gap-2 items-center">
            <button id="my_button" class="bg-blue-300 text-white text-4xl rounded-xl shadow-md p-2 px-4">Click Me!</button>
            <p id="output" class="text-4xl font-serif p-4"></p>
        </div>
    </body>

    <script type="text/python">
        from browser import document
        
        def greet(event):
            document["output"].text = "Hello, Brython!"
        
        document["my_button"].bind("click", greet)

    </script>
    
</html>
